.Layout {
  --font-size: 18px;
  --nav-height: var(--font-size);
  --nav-padding: 0.5em;
  --nav-total-height: calc(var(--nav-height) + 2 * var(--nav-padding));
}

.Page {
  padding: 1em;
  font-size: var(--font-size);
}
