.RunPage {
  --card-margin: 0.5em;
}

.RunPage .leaflet-container {
  width: 100%;
  height: 35vh;
}

.RunPage .RunPathPolyline {
  stroke: var(--color-main);
}

.RunMetrics {
  font-size: var(--font-size);
  padding: var(--card-margin);
  padding-top: 0;
}

.MetricCard {
  display: inline-block;
  vertical-align: top;
  background: rgba(255, 255, 255, 0.05);
  padding: calc(2 * var(--card-margin));
  margin: var(--card-margin);
  width: calc(50% - (6 * var(--card-margin)));
  border-radius: var(--card-margin);
  text-align: center;
}

.MetricCard .Title,
.MetricCard .ValueContainer {
  display: block;
}

.MetricCard .Title {
  margin-top: 0.5em;
}

.MetricCard .ValueContainer {
  color: var(--color-main);
}

.MetricCard .Value {
  font-weight: bold;
  font-size: 1.75em;
  margin-right: 0.1em;
}
