.RunPage {
  --card-margin: 0.5em;
}

.RunPage .leaflet-container {
  width: 100%;
  height: 35vh;
}

.RunDetails {
  padding-bottom: 0.25em;
}

.RunDetails h1 {
  margin-bottom: 0.25em;
}

.RunDetails h1 + p {
  margin-top: 0;
}

.RunMetrics {
  font-size: var(--font-size);
  padding: var(--card-margin);
  padding-top: 0;
}

.MetricCard {
  display: inline-block;
  vertical-align: top;
  padding: calc(2 * var(--card-margin));
  margin: var(--card-margin);
  width: calc(50% - (6 * var(--card-margin)));
  border-radius: var(--card-margin);
  text-align: center;
}

.MetricCard .Title,
.MetricCard .ValueContainer {
  display: block;
}

.MetricCard .Title {
  margin-top: 0.5em;
}

.MetricCard .Value {
  font-weight: bold;
  font-size: 1.75em;
  margin-right: 0.1em;
}
