/* Dark Theme */

.ThemeDark {
  background: var(--color-darkest);
  color: white;
}

.ThemeDark h1 {
  color: var(--color-main);
}

.ThemeDark a {
  color: white;
}

/* Dark Theme: Nav */

.ThemeDark .Nav {
  background: var(--color-darkest);
}

.ThemeDark .Nav a {
  color: var(--color-main);
}

.ThemeDark .Nav a:hover {
  color: white;
}

/* Dark Theme: Links */

a:hover {
  color: var(--color-main);
}

/* Dark Theme: Maps */

.ThemeDark .leaflet-control-attribution {
  background: transparent;
}

.ThemeDark .leaflet-control-attribution,
.ThemeDark .leaflet-control-attribution a {
  background: transparent;
  color: rgba(255, 255, 255, 0.5);
}

.ThemeDark .leaflet-control-zoom-in,
.ThemeDark .leaflet-control-zoom-out {
  background: rgba(255, 255, 255, 0.15);
  color: var(--color-darkest);
  border: none;
}

/* Dark Theme: All Runs Page */

.ThemeDark .RunItem {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid transparent;
}

.ThemeDark .RunItem:hover {
  border: 1px solid var(--color-main);
}

.ThemeDark .RunItem:hover .IconGo {
  color: var(--color-main);
}

/* Dark Theme: Run Page */

.ThemeDark .RunPage .RunPathPolyline {
  stroke: var(--color-main);
}

.ThemeDark .MetricCard {
  background: rgba(255, 255, 255, 0.05);
}

.ThemeDark .MetricCard .ValueContainer {
  color: var(--color-main);
}
