/* Colors */

.ThemeLight {
  --color-main: rgb(224, 83, 153);
  --color-background: white;
  --color-semi-transparent: rgb(255, 241, 248);
  --color-text: rgb(44, 44, 44);
  --color-contrast: white;
}

.ThemeDark {
  --color-main: rgb(224, 83, 153);
  --color-background: rgb(28, 27, 31);
  --color-semi-transparent: rgba(255, 255, 255, 0.05);
  --color-text: white;
  --color-contrast: white;
}

body {
  background: var(--color-background);
  color: var(--color-text);
}

h1 {
  color: var(--color-main);
}

a {
  color: var(--color-text);
}

/* Nav */

.Nav {
  background: var(--color-background);
}

.Nav .CurrentPage {
  color: var(--color-text);
}

.Nav a {
  color: var(--color-main);
}

.Nav a:hover {
  color: var(--color-text);
}

/* Links */

a:hover {
  color: var(--color-main);
}

/* Buttons */

.Button.Primary {
  background: var(--color-main);
  border: 1px solid transparent;
  color: var(--color-contrast);
}

.Button.Primary:hover {
  background: transparent;
  border: 1px solid var(--color-main);
  color: var(--color-main);
}

/* Maps */

.leaflet-control-attribution {
  background: transparent;
}

.leaflet-control-attribution {
  background: transparent;
  color: var(--color-text);
  opacity: 0.5;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  background: var(--color-text);
  color: var(--color-background);
  border: none;
  opacity: 0.25;
}

/* All Runs Page */

.RunItem {
  background: var(--color-semi-transparent);
  border: 1px solid transparent;
}

.RunItem:hover {
  border: 1px solid var(--color-main);
  color: var(--color-text);
}

.RunItem:hover .IconGo {
  color: var(--color-main);
}

/* Run Page */

.RunPage .RunPathPolyline {
  stroke: var(--color-main);
}

.MetricCard {
  background: var(--color-semi-transparent);
}

.MetricCard .ValueContainer {
  color: var(--color-main);
}
